---
import BaseLayout from './BaseLayout.astro';
import SturlupediaLogo from '../components/SturlupediaLogo.astro';
const { pageTitle, image, chapters } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <div class="wiki_site">
        <div class="nav_sidebar">
            <a href="/" class="logo_link"><SturlupediaLogo fontsize="1rem"/></a>
            <div class="nav">
                <a href="#Overview" class="chapter_link">Overview</a>
                {chapters.map((chapter) => (
                    <a href={chapter.url} class="chapter_link">{chapter.name}</a> <div>{chapter.subsections.map((subsection) => (<a href={subsection.url} class="subsection_link">{subsection.name}</a>))}</div>
                ))}
            </div>
        </div>

        <div class="main">
            <div class="header_image">
                <img src={image} alt={pageTitle}>
                <div class="title_box">
                    <h1 class="wiki_title">{pageTitle}</h1>
                </div>
            </div>
            <div class="main_grid">
                    <slot />
            </div>
        </div>
    </div>
</BaseLayout>