---
import BaseLayout from './BaseLayout.astro';
import SturlupediaLogo from '../components/SturlupediaLogo.astro';
const { pageTitle, image, overview, chapters } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <div class="wiki_site">
        <div class="nav_sidebar">
            <a href="/" class="logo_link"><SturlupediaLogo fontsize="1rem"/></a>
            <div class="nav">
                <a href="#Overview" class="chapter_link">Overview</a>
                {chapters.map((chapter) => (
                    <a href={`#${chapter.id}`} class="chapter_link">{chapter.name}</a> <>{chapter.subsections.map((subsection) => (<a href={`#${subsection.id}`} class="subsection_link">{subsection.name}</a>))}</>
                ))}
            </div>
        </div>

        <div class="main">
            <div class="header_image">
                <img src={image} alt={pageTitle}>
                <div class="title_box">
                    <h1 class="wiki_title">{pageTitle}</h1>
                </div>
            </div>
            <div class="main_grid">
                <div class="main_text">
                    <section id="Overview">
                        <p><Fragment set:html={overview} /></p>
                    </section>
                {chapters.map((chapter) => (
                    <section id={chapter.id}>
                        <h2 class="wiki_chapter">{chapter.name}</h2>
                        {chapter.text.map((par) => <p><Fragment set:html={par} /></p>)}
                        {chapter.subsections.map((subsection) => (
                            <section id={subsection.id}>
                                <h3>{subsection.name}</h3>
                                <p>{subsection.text}</p>
                            </section>
                        ))}
                    </section>
                ))}
                </div>
                <div class="info_sidebar">
                    <slot />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>